[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
ipython = "*"
beautifulsoup4 = "*"
colorlog = "*"
scrapy-user-agents = "*"
selenium = "4"
lxml = "*"
pandas = "*"
openpyxl = "*"
scrapy-selenium = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
